img{
    width: 200px;
    height: 200px;
}

.maGrandeImage {
    width: 500px;
    height: 500px;
}

.maGrandeImage:hover {
    border-top: 20px solid greenyellow;
    border-left: 30px solid royalblue;
    border-right: 20px solid rgb(47, 255, 227);
}

#image1 {
    width: 100px;
    height: 100px;
    border: 10px solid salmon;
}